* {
  background: rgb(82, 75, 78);
}

.calculator-container {
  display: grid;
  justify-content: center;
  gap: 1px;
}

.calculator-display {
  height: 100px;
  width: auto;
  border: 2px black solid;
  font-size: 30px;
}

.calculator-keys {
  display: grid;
  width: 500px;
  height: 500px;
  grid-template-columns: auto auto auto auto;
  gap: 2px;

}

button {
  font-size: 20px;
}